{% extends "base.html" %}
{% load reloading_filters %}

{% block pagetitle %}{{ caliber }}{% endblock %}

{% block title %}{{ caliber }}{% endblock %}

{% block description %}
{% endblock %}

{% block subbreadcrumbs %}
<span dir="ltr">
    <a href="{% url 'listing_view' %}">Reloading Data</a>
</span>

<span class="breadcrumbSeparator">
    &raquo;            
</span>

<span dir="ltr">
    <span>{{ caliber }}</span>
</span>

{% endblock %}   

{% block content %}
    {% for w,v in results %}

        <h2> {{ w }} </h2>
        <table class="listing" id="x123">
            <thead>
            <tr>
                <th>Company</th>
                <th>Powder Type</th>
                <th>Bullet Weight</th>
                <th>Powder Weight</th>
                <th>Bullet Type</th>
                <th>Primer Type</th>
                <th>Average Velocity</th>
                <th>Max Velocity</th>
                <th>Min Velocity</th>
                <th>Range Velocity</th>
                <th>StdDev Velocity</th>
                <th>Muzzle Energy (ft-lbs)</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

            {% for r in v.data %}
    
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ r.load.bullet.manufacturer }}</td>
                    <td>{{ r.load.powder }}</td>
                    <td>{{ r.load.bullet.weight }}</td>
                    <td>{% if r.load.powder_weight %}
                            {{ r.load.powder_weight }}
                        {% else %}
                            Factory
                        {% endif %}
                    </td>
                    <td>{{ r.load.bullet.type }}</td>
                    <td>{{ r.load.primer }}</td>
                    <td>{{ r.average }}</td>
                    <td>{{ r.max }}</td>
                    <td>{{ r.min }}</td>
                    <td>{{ r.range }}</td>
                    <td>{{ r.std }}</td>
                    <td>{{ r.muzzleEnergy }}</td>
                    <td>{{ r.date|date:"m/d/Y" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if v.notes %}
            <h4>Notes</h4>
            {% for n in v.notes %}
            <p class="discreet">
                {{ n }}
            </p>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
