{% extends "base.html" %}
{% load reloading_filters %}
{%block pagetitle %}Reloading Data{% endblock %}

   
{%block content %}
        <dl>
            {% for c in calibers %}
            <dt>
        
                <span class="summary">
                    <a href="{% url reloading.views.byCaliber slug=c.slug %}">{{ c }}</a>
                </span>
        
            </dt>
        
            <dd>
                <span class="description">
                    {{ c|getWeaponsForCaliber:weapons|join:", " }}
                </span>
            </dd>
                
            {% endfor %}
        
        </dl>
{% endblock %}
